<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Thermonoto</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/keen-js/3.4.1/keen.min.js"></script> -->

  <link href="https://d26b395fwzu5fz.cloudfront.net/4.3.0/keen.min.css" rel="stylesheet" />
  <script src="https://d26b395fwzu5fz.cloudfront.net/4.3.0/keen.min.js"></script>
  <script src="https://unpkg.com/rxjs@5.5.6/bundles/Rx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.4/rickshaw.css" rel="stylesheet" /> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.4/rickshaw.js"></script> -->
  <script src="/app.js"></script>
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
  <div id="current_temperature"></div>
  <div id="current_humidity"></div>
  <div id="daily_temperature"></div>
  <div id="daily_humidity"></div>
  <div id="ambient_noise"></div>
  <a name="cry-detection"></a>
  <div id="cry_detection"></div>
  <div id="app-root"></div>

  <script src="/viz.js"></script>
</body>

</html>
