<% include head.html.ejs %>
  <div id="current_temperature"></div>
  <div id="current_humidity"></div>
  <div id="daily_temperature"></div>
  <div id="daily_humidity"></div>
  <div id="ambient_noise"></div>
  <div id="cry_detection"></div>
  <div id="app-root"></div>

  <script src="/viz.js"></script>
<% include foot.html.ejs %>
